{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Accueil
{% endblock %} 

{% block navbar %}
    <button>Intro</button>
    <button>About</button>
{% endblock %}

{% block content %}
    <h1>Hello {{ name }} !</h1>
{% endblock %}